* {
	margin: 0px;
	padding: 0px;
}

.title {
	// background-color: #F5F6F7 - 40;
	background-color: #F5F6F7;
	padding: 20px;
	display: flex;
	align-items: center;
	> p {
		background: url(../images/32.png) no-repeat center center;
		background-size: contain;
		width: 24px;
		height: 24px;
		margin: 0px auto;
	}
	> a {
		color: #131313;
		margin-left: 12px;
		font-size: 24px;
		text-decoration: none;
		&:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #131313;
			display: block;
			margin: 0px auto;
			transition: .3s;
		}
		&:hover {
			&:after {
				width: 50%;
			}
		}
	}
	> span {
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='798' height='764.45'%3E%3Cpath d='M380 764.206c-2.475-.21-10.125-.87-17-1.464-62.336-5.389-128.117-29.508-182-66.732-51.178-35.355-95.687-85.978-122.621-139.462-2.918-5.793-3.306-7.244-2.21-8.26 2.065-1.915 61.863-30.499 63.803-30.499 1.16 0 3.508 3.344 7.199 10.25 43.26 80.943 120.006 138.236 209.314 156.258 22.471 4.535 36.316 5.828 62.515 5.837 26.336.008 39.601-1.255 62.973-6 73.13-14.845 139.179-57.056 184.59-117.968 3.54-4.748 6.437-9.011 6.437-9.473 0-.962-6.953-3.103-40.5-12.465-13.2-3.684-24.39-7.052-24.865-7.484-.476-.432.874-2.577 3-4.768 11.831-12.19 152.52-148.187 153.3-148.187.511 0 1.171.788 1.466 1.75C747.124 391.167 798 593.11 798 594.32c0 .809-.787 1.454-1.75 1.433-.962-.019-16.6-4.256-34.75-9.413-25.013-7.107-33.276-9.095-34.14-8.213-.626.64-5.84 8.196-11.587 16.793-13.47 20.152-27.035 36.999-43.273 53.743C610.241 712.864 529.959 752.272 441 762.3c-13.085 1.474-51.868 2.687-61 1.907zM52.6 379.04C50.836 373.282 0 171.533 0 170.298c0-.83.658-1.509 1.462-1.509.804 0 16.43 4.239 34.726 9.42 18.296 5.18 33.573 9.228 33.949 8.996.376-.233 4.586-6.342 9.356-13.577C143.756 76.156 242.848 15.081 357.5 2.278c48.644-5.43 99.127-1.123 147.722 12.607 95.57 27.003 178.74 92.932 227.618 180.432 3.388 6.065 6.16 11.55 6.16 12.19 0 1.234-59.893 32.348-63.65 33.066-1.828.35-2.678-.499-4.904-4.89-16.52-32.602-49.305-71.567-80.946-96.206C508.148 76.128 400.978 57.361 303 89.305c-60.61 19.761-112.124 56.79-150.88 108.456-5.64 7.518-6.849 9.724-5.863 10.694.684.673 15.193 5.122 32.243 9.887 17.05 4.764 31.394 9.03 31.875 9.48.483.451-1.088 2.823-3.5 5.287-13.909 14.204-152.004 147.68-152.792 147.68-.521 0-1.19-.787-1.484-1.75z' fill='%23CDCECF'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		cursor: pointer;
		margin-left: 20px;
		transition: .3s;
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='798' height='764.45'%3E%3Cpath d='M380 764.206c-2.475-.21-10.125-.87-17-1.464-62.336-5.389-128.117-29.508-182-66.732-51.178-35.355-95.687-85.978-122.621-139.462-2.918-5.793-3.306-7.244-2.21-8.26 2.065-1.915 61.863-30.499 63.803-30.499 1.16 0 3.508 3.344 7.199 10.25 43.26 80.943 120.006 138.236 209.314 156.258 22.471 4.535 36.316 5.828 62.515 5.837 26.336.008 39.601-1.255 62.973-6 73.13-14.845 139.179-57.056 184.59-117.968 3.54-4.748 6.437-9.011 6.437-9.473 0-.962-6.953-3.103-40.5-12.465-13.2-3.684-24.39-7.052-24.865-7.484-.476-.432.874-2.577 3-4.768 11.831-12.19 152.52-148.187 153.3-148.187.511 0 1.171.788 1.466 1.75C747.124 391.167 798 593.11 798 594.32c0 .809-.787 1.454-1.75 1.433-.962-.019-16.6-4.256-34.75-9.413-25.013-7.107-33.276-9.095-34.14-8.213-.626.64-5.84 8.196-11.587 16.793-13.47 20.152-27.035 36.999-43.273 53.743C610.241 712.864 529.959 752.272 441 762.3c-13.085 1.474-51.868 2.687-61 1.907zM52.6 379.04C50.836 373.282 0 171.533 0 170.298c0-.83.658-1.509 1.462-1.509.804 0 16.43 4.239 34.726 9.42 18.296 5.18 33.573 9.228 33.949 8.996.376-.233 4.586-6.342 9.356-13.577C143.756 76.156 242.848 15.081 357.5 2.278c48.644-5.43 99.127-1.123 147.722 12.607 95.57 27.003 178.74 92.932 227.618 180.432 3.388 6.065 6.16 11.55 6.16 12.19 0 1.234-59.893 32.348-63.65 33.066-1.828.35-2.678-.499-4.904-4.89-16.52-32.602-49.305-71.567-80.946-96.206C508.148 76.128 400.978 57.361 303 89.305c-60.61 19.761-112.124 56.79-150.88 108.456-5.64 7.518-6.849 9.724-5.863 10.694.684.673 15.193 5.122 32.243 9.887 17.05 4.764 31.394 9.03 31.875 9.48.483.451-1.088 2.823-3.5 5.287-13.909 14.204-152.004 147.68-152.792 147.68-.521 0-1.19-.787-1.484-1.75z' fill='%23ffaf00'/%3E%3C/svg%3E");
		}
		&.selected {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='798' height='764.45'%3E%3Cpath d='M380 764.206c-2.475-.21-10.125-.87-17-1.464-62.336-5.389-128.117-29.508-182-66.732-51.178-35.355-95.687-85.978-122.621-139.462-2.918-5.793-3.306-7.244-2.21-8.26 2.065-1.915 61.863-30.499 63.803-30.499 1.16 0 3.508 3.344 7.199 10.25 43.26 80.943 120.006 138.236 209.314 156.258 22.471 4.535 36.316 5.828 62.515 5.837 26.336.008 39.601-1.255 62.973-6 73.13-14.845 139.179-57.056 184.59-117.968 3.54-4.748 6.437-9.011 6.437-9.473 0-.962-6.953-3.103-40.5-12.465-13.2-3.684-24.39-7.052-24.865-7.484-.476-.432.874-2.577 3-4.768 11.831-12.19 152.52-148.187 153.3-148.187.511 0 1.171.788 1.466 1.75C747.124 391.167 798 593.11 798 594.32c0 .809-.787 1.454-1.75 1.433-.962-.019-16.6-4.256-34.75-9.413-25.013-7.107-33.276-9.095-34.14-8.213-.626.64-5.84 8.196-11.587 16.793-13.47 20.152-27.035 36.999-43.273 53.743C610.241 712.864 529.959 752.272 441 762.3c-13.085 1.474-51.868 2.687-61 1.907zM52.6 379.04C50.836 373.282 0 171.533 0 170.298c0-.83.658-1.509 1.462-1.509.804 0 16.43 4.239 34.726 9.42 18.296 5.18 33.573 9.228 33.949 8.996.376-.233 4.586-6.342 9.356-13.577C143.756 76.156 242.848 15.081 357.5 2.278c48.644-5.43 99.127-1.123 147.722 12.607 95.57 27.003 178.74 92.932 227.618 180.432 3.388 6.065 6.16 11.55 6.16 12.19 0 1.234-59.893 32.348-63.65 33.066-1.828.35-2.678-.499-4.904-4.89-16.52-32.602-49.305-71.567-80.946-96.206C508.148 76.128 400.978 57.361 303 89.305c-60.61 19.761-112.124 56.79-150.88 108.456-5.64 7.518-6.849 9.724-5.863 10.694.684.673 15.193 5.122 32.243 9.887 17.05 4.764 31.394 9.03 31.875 9.48.483.451-1.088 2.823-3.5 5.287-13.909 14.204-152.004 147.68-152.792 147.68-.521 0-1.19-.787-1.484-1.75z' fill='%238DCD18'/%3E%3C/svg%3E");
			animation: loader 2s infinite linear;
		}
	}
}

.footer {
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	padding: 10px;
}

@keyframes loader {
	0% {
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(-180deg);
	}
	100%{
		transform:rotate(-360deg);
	}
}